body {
  background-image: url('carbon_fibre.png');
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}
.button-holder {
  margin-left: 310px;
  margin-top: 300px;
}

.buttonPresses {
  margin-left: 1290px;
  width: 300px;
  height: 500px;
  margin-top: -200px;
  background: black;
  color: white;
  padding-left: 115px;
  padding-top: 30px;
  border-radius: 17px;
}

.btn {
  border: 7px solid black;
  border-radius: 5px;
  margin: 30px;
  width: 175px;
  height: 90px;
  font-size: 25px;
}

.red-btn {
  background-color: red;
}
.red-btn:hover {
  background-color: black;
  color: red;
}

.blue-btn {
  background: blue;
}
.blue-btn:hover {
  background-color: black;
  color: blue;
}

.green-btn {
  background: green;
}
.green-btn:hover {
  background: black;
  color: green;
}

.yellow-btn {
  background: yellow
}
.yellow-btn:hover {
  background: black;
  color: yellow;
}

.res-btn {
  background: white;
  margin-top: -120px;
  margin-left: 681px;
}
.res-btn:hover {
  background: black;
  color: white;
}
